<!DOCTYPE html>
<html>
<head>
	<title>Edit a Menu Item</title>
</head>
<body>
	<h1>Edit {{item.name}}?</h1>
	<form action='#'>
		<form action='#'>
		<input type='text' name='name' placeholder='New menu item name'>
		<br>
		<input type='text' name='price' placeholder='New Price in USD'>
		<br>
		<textarea type='text' name='description' placeholder='New menu item description'></textarea>
		<br>
		<input type='submit' value='Edit'>
		<a href='/restaurant/{{restaurant.id}}/menu/'>Cancel</a>
	</form>
	</form>

</body>
</html>