<!DOCTYPE html>
<html>
<head>
  <!-- Client id -->
  <meta name="google-signin-client_id" content="413629628721-hs6uem1im229ljip3sbsbbfh6ivd6im6.apps.googleusercontent.com">
  <!-- The google platform library -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <!-- Renders a google sign in button that will invoke
  onSignIn() when clicked -->
  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <!-- A link that will sign the user out -->
  <div>
    <a href="#" onclick="signOut()">Sign Out</a>
  </div>
</body>

<script>
  // gets the user's profile from google server
  function onSignIn(googleUser)
  {
    var profile = googleUser.getBasicProfile();
    console.log("Successful login.");
  }

  // lets the user sign out
  function signOut()
  {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function ()
    {
      console.log("Successful log out.");
    })
  }
</script>
</html>